<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<app-navbar></app-navbar>
<div class="app-background">
  <div class="info-card">
    <div class="card-spacer"></div>
    <mat-card class="home-card">
      <mat-card-title class="home-card-title">
        Welcome
      </mat-card-title>
      <mat-card-content class="home-card-content">
        <p>Nowadays, we can see smart homes appearing more and more often on our TV screens, computers and other devices. But what is causing all this excitement?</p>
        <br>
        <p>It's simple enough. Smart homes provide ease of use and a person does not have to do most of the things they do every day in an ordinary apartment. Instead of getting up from the couch and turning the lights on and off, all it takes is a double tap and the light switches itself.</p>
        <br>
        <p>But that's not all, of course. The smart home can even be controlled from a distance. It is enough to have with you an android app or a website where there will be commands to control the house. You can automatically lock and unlock doors, feed pets when you are away from home, receive data from a variety of sensors and control the environment of your home. And that's just the tip of the iceberg in using smart homes.</p>
        <br>
        <p>You can follow the <a routerLink="/about">Explore Website</a> link to find out more about what this site focuses on in the smart home industry.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="buttons">
    <div class="spacer"></div>
    <a mat-raised-button color="accent" class="chain-button" routerLink="/home">Home page</a>
    <hr class="vertical-chain">
    <a mat-raised-button color="primary" class="chain-button" routerLink="/about">Explore website</a>
    <hr class="vertical-chain">
    <a mat-raised-button color="accent" class="chain-button" routerLink="/dashboard">Dashboard</a>
  </div>
</div>
</body>
</html>
