<mat-toolbar color="primary" class="mat-elevation-z8">
  <i class="fa fa-pencil i-bar"></i>
  <span>PremysielnaBPS</span>

  <div class="spacer"></div>

  <a mat-button class="page-routing-component" routerLink="/home">Home</a>
  <a mat-button class="page-routing-component" routerLink="/about">About</a>
  <a mat-raised-button color="accent" class="page-routing-component" routerLink="/dashboard" style="margin-left: 5px">Dashboard</a>
  <a mat-icon-button
     class="page-routing-component"
     href="https://github.com/br4vespirit/PriemyselnaBPS"
     style="margin-left: 40px">
    <i class="fa fa-github" style="font-size: 2em"></i>
  </a>

  <span style="margin-right: 20%"></span>
</mat-toolbar>
