<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<app-navbar></app-navbar>
<div>
  <div class="title">
    <p style="font-size: 40px; margin-top: 20px"> Humidity Sensor</p>
  </div>
  <div class="sensor-background">
    <div id="divChart">
      <canvas id="lineChart"></canvas>
    </div>
    <div id="divChart1">
      <canvas id="barChart"></canvas>
    </div>
  </div>
  <div class="buttons" style="margin-top: 5%;">
    <!--      <div class="spacer"></div>-->
    <a mat-raised-button color="accent" class="chain-button" routerLink="/home">Home page</a>
    <div>
      <hr class="vertical-chain">
    </div>
    <a mat-raised-button color="primary" class="chain-button" routerLink="/about">Explore website</a>
    <div>
      <hr class="vertical-chain">
    </div>
    <a mat-raised-button color="accent" class="chain-button" routerLink="/dashboard">Dashboard</a>
  </div>
</div>
</body>
</html>

